@CHARSET "UTF-8";
	body {
			background: #E3E0D1;
		}

	form#logoutform {
		
	}
	
	form#loginform {
		text-align: center;
		border: 1px solid #270644;
		width: 250px;
		border-radius: 20px;
		
		background:  -moz-linear-gradient(19% 75% 90deg,#848484, #E3E0D1);
		background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#E3E0D1), to(#848484));
		margin:50px auto;
		padding: 20px;
		-moz-box-shadow:0px -5px 300px #1C1C1C;
		-webkit-box-shadow:0px -5px 300px #1C1C1C;
		
	}
	
	
	
	input {
		width:230px;
		display:block;
		border: 1px solid #999;
		height: 25px;
		margin:6px;
		margin-left:9px;
		padding-left:6px;
		border-radius:6px;
		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	}
	
	input.submit {
		position:relative;
		width:200px;
		background:#4a4a4a;
		color:#fff;
		font-family: Tahoma, Geneva, sans-serif;
		height:30px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		border: 1p solid #999;
		border-top: 1px solid #A4A4A4;
		margin-top: 10px;
		margin-left:auto;
		margin-right:auto;
	}

	

	input.submit:hover {
		background:#949494;
		color:#4a4a4a;
	} 

	input.submit:active {
		
	}

	input:hover {
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#949494), to(#ffffff));
	    background: -moz-linear-gradient(top, #949494,#ffffff  25px);
	}
	
	#error_message {
    border: 2px solid #FAAFBE;
    margin: auto;
    padding: 0.5em;
    color: #fff;
    width: 25em;
    font-weight: bold;
    background: #FAAFBE;
}

.subtitle {
	clear:both;
    
	
}

p#reset-pass,#registerlink{
	width:15em;
	margin-top:.5em;
	margin-bottom:.5em;
}
a.btnlink{
	clear:both;
	border: 2px outset;
  	padding: 10px;
  	display:block;
  	text-decoration: none;
  	border-color : white white white #A1E048;
}

