@CHARSET "UTF-8";
	body {
			background: #E3E0D1;
		}

	form#logoutform {
		
	}
	
	form#loginform {
		text-align: center;
		border: 1px solid #270644;
		width: 250px;
		border-radius: 20px;
		
		background:  -moz-linear-gradient(19% 75% 90deg,#848484, #E3E0D1);
		background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#E3E0D1), to(#848484));
		margin:50px auto;
		padding: 20px;
		-moz-box-shadow:0px -5px 300px #1C1C1C;
		-webkit-box-shadow:0px -5px 300px #1C1C1C;
		
	}
	
	div#accountinfo{
	  
	  float :right;
	}

	

	input {
	  
		background: #848484;
		width: 230px;
	}
	
	

	input.submit {
	  -webkit-transition-property: -webkit-box-shadow, background;
	  -webkit-transition-duration: 0.25s;
		width: 100px;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#848484), to(#585858));	
		background:  -moz-linear-gradient(19% 75% 90deg,#585858, #848484);
		
		color: #fff;
		text-transform: uppercase;
		text-shadow: #000 1px 1px;
		border-top: 1px solid #A4A4A4;
		margin-top: 10px;
	}

	input.submit:hover {
		
	} 

	input.submit:active {
		
	}

	input:hover {
		
	}
	
	#error_message {
    border: 2px solid #FAAFBE;
    margin: auto;
    padding: 0.5em;
    color: #fff;
    width: 25em;
    font-weight: bold;
    background: #FAAFBE;
}

.subtitle {
	clear:both;
    
	
}

p#reset-pass,#registerlink{
	width:15em;
	margin-top:.5em;
	margin-bottom:.5em;
}
a.btnlink{
	clear:both;
	border: 2px outset;
  	padding: 10px;
  	display:block;
  	text-decoration: none;
  	border-color : white white white #A1E048;
}

