{% extends "registration/auth_base.html" %}
{% block title %} resetpassword {% endblock %}
{% block content %}

<div class="subtitle short">Enter Email to reset your password</div>
<form method="post" action=".">{% csrf_token %}
<div id="resetpassform" >
	{% if form.non_field_errors %}
            {{ form.non_field_errors }}
	{% endif %}
    <fieldset class="resetpassfields">
  	{{ form.as_p }}

  <input type="submit" value="Reset Password" />
  </fieldset>
</form>
</div>
{% endblock %}
 
{% block whatis %}
  password reset page
{% endblock %}
