{% extends "vsearch/base.html" %}

{% block title %}
{{block.super}}|home
{% endblock %}
{% block js %} 
<script type="text/javascript"  src="{{MEDIA_URL}}js/jquery-1.7.1.min.js" ></script>

<script type="text/javascript"  src="{{MEDIA_URL}}js/videoctrl.js" ></script>


{% endblock %}

{% block content %}
{{block.super}}
<div id="accountinfo">
logged in as : {{user.username}}
<form id="logoutform" method="post" action="{% url vsearch_logout %}">{% csrf_token %}
   	<input type="hidden" name="next" value="{{next|escape}}" />
    <input type="hidden" name="confirm" value="true" />
    <input type="submit" value="Logout" class="submit"/>
</form>
</div>

<div id="videodiv" class="box">
<video id="vid" width="640" height="360" controls="controls">
       
       Your browser does not support the video tag.
</video>
<div class="video_controls" rel="vid">
    <div class="video_progress">
        <div class="video_progress_bar">
        
        
        </div>
    </div>
    <ul class="video_buttons">
        <li class="video_pause"><a href="#">Pause</a></li>
        <li class="video_play"> <a href="#" id="playlnk">Play </a> </li>
    </ul>

</div>


<div >
<p>
<label class="vsearch">Select a video</label>
<input type="file" name="fileselect" id="vselect"> </input>
</p>


<form enctype="multipart/form-data" method="post" id="subfileform">{% csrf_token %}
<p>
<label class="vsearch">Upload subtitle</label>
<input type="file" name="subselect" id="subfselect"> </input>
</p>


</form> 
<div id="searchdiv">
<p>
<label class="vsearch">
    Search for some words:</label><input type="text" name="keywords" id="kwords">
</p>
    <button type="button" id="kwsearch">search in video</button>

</div>

</div>
</div>

<div id="errorfld">

</div>

<div id="results">

</div>

{% endblock %}
