<html>
<head>
<title>
login
</title>
<LINK REL="StyleSheet" HREF="{{MEDIA_URL}}css/loginform.css" TYPE="text/css" MEDIA="screen, print">
</head>

<body>
<div class="subtitle">


</div>



{% if form.errors %}
 <p id="error_message">Login failed! Check your username and password.</p>
{% endif %}


<form id="loginform" method="post" action=".">{% csrf_token %}
		<img src="{{MEDIA_URL}}img/vs1.png" id="mainlogo" >
		<input id="id_username" type="text" name="username" placeholder="username"/>
		
		<input id="id_password" type="password" name="password" placeholder="password" />
		
		
			<input type="hidden" name="next" value="{{next}}" />
			<input type="submit" value="login" name="submit" class="submit" />
			<br><br>
			
	
	<a href="{% url auth_password_reset %}"><img src="{{ MEDIA_URL }}img/keysmall.png">Forgot password?</a>
	 <br>
	 <a  href="{% url registration_register %}" title="Become a User by Registering" >Register</a>
	 
			
</form>	

</body>

</html>